<!DOCTYPE html>
<html  lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <title>form glavn string for generate </title>

    <!-- Bootstraps Java Scipts Links -->

    <!-- Bootstraps Java Scipts Links -->
		<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/opove.css') }}" rel="stylesheet">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
   <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->

	<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.slim.min.js') }}"></script>



<script type="text/javascript" src="{{ url_for('static', filename='js/Chart.mi.js') }}"></script>

<style>
body {background-color: LightCyan;}
   table {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   td, th {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid #000; /* Параметры рамки */
   }
   th {
    background: #afd792; /* Цвет фона */
    color: #333;  /* Цвет текста */
   }
   tbody tr:hover {
    background: #0000FF; /* Цвет фона при наведении */
    color: #000000; /* Цвет текста при наведении */
   }

 input {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

</style>
{% if lang_bool %}
   <form action="/lengrth_form_nastroika" method = "POST">

   <input  class= "myButton"  style= " float: lefth; padding: 16px; background-color: darkblue; color:aliceblue; border-radius: 4px;font-size: 12px" type = "submit" (click)="changeButton(button)" value = "English" />
   </form>
{% else %}
<form action="/lengrth_form_nastroika" method = "POST">

   <input class= "myButton"  style="float: lefth; padding: 16px; background-color: darkblue; color:aliceblue; border-radius: 4px;font-size: 12px" type = "submit" (click)="changeButton(button)" value = "Русский" />
</form>
{% endif %}

{% if conect %}

   <input  class= "myButton"  style= "  padding: 16px; background-color: green; color:aliceblue; border-radius: 4px;font-size: 12px" type = "submit" value="Connect"   />
{% else %}

   <input class= "myButton"  style=" padding: 16px; background-color: red; color:aliceblue; border-radius: 4px;font-size: 12px" type = "submit" value="Disconnect" />
{% endif %}
    <!--<script src="http://code.highcharts.com/highcharts-more.js"></script>-->
   <!-- <script src="http://code.highcharts.com/modules/exporting.js"></script>-->

   <input type = "number" value ={{time_otvet}} >
     <form method="POST" action='/back_4'>
   <p><button>{{punkt_menu[0]}}</button></p>
   </form>
   <form method="POST" action='/izmen2'>
 <p><button>{{punkt_menu[1]}}</button></p>
 <tr>
   <td><label for="velocity">{{punkt_menu[2]}}</label></td>
   <td><input name="eps_number"   value="{{number}}"></td>
 </tr>
 <tr>
   <td><label for="velocity">{{punkt_menu[3]}} </label></td>
   <td><input name="eps_scen"   value="{{int_scenar}}"></td>
 </tr>
 <tr>
   <td><label for="velocity">{{punkt_menu[4]}}  </label></td>
   <td><input name="eps_netw"   value="{{int_netw}}"></td>
 </tr>
   <center>

     <input type="button" onclick="add_eliment()" value="+">
<!-- <form method="POST" action='/eb/nastroit/{{number}}'>

 <p><input type = "submit" value = "Add" /></p>

 </form>-->
<input type="number" id="ch_id" name="znachenie" min="{{size_min}}" max="1000000000" value="{{size_min}}">


<table name= "scenar_t" id="table-tx" width="650" >
  {%for  j  in pcap_id%}

     <tr>

         <td><select name="scenar" style="width: 550px" required="required" >
               {%for  i  in string_pcap%}

               {% if j.znach == i.key %}
               <option  name="td1"  value='{{i.key}}' SELECTED>{{i.string}}</option>

               {% else %}
                    <option name="td1"  value="{{ i.key }}" >{{ i.string}}</option>
                {% endif %}

             {%endfor%}
          </select></td>
          <form method="POST" action='/eb/delete/{{j.znach}}'>

               <td > <p><input  type = "submit" value = "удалить" name="{{j.znach}}" /></p></td>
                   </form>


     </tr>


         {%endfor%}



      </table>


      <tr>
          <td><h1>jitter </h1></td>
   		  <td><label for="adres">timeup </label></td>
   		  <td><input type="number" id="timeup_jitter" name="jitter_timeup" min="0" max="100000000" value="{{zagolovok[0]}}"></td>
         <td><label for="adres">timedown </label></td>
         <td><input type="number" id="timedown_jitter" name="jitter_timedown" min="0" max="100000000" value="{{zagolovok[1]}}"></td>
         <td><label for="adres">value </label></td>
         <td><input type="number" id="value_jitter" name="jitter_value" min="0" max="100000000" value="{{zagolovok[2]}}"></td>
   	  </tr>
       <tr>
    		  <td><h1>burst </h1></td>
         <td><label for="adres">timeup </label></td>
         <td><input type="number" id="timeup_burst" name="burst_timeup" min="0" max="100000000" value="{{zagolovok[3]}}"></td>

         <td><label for="adres">timedown </label></td>
         <td><input type="number" id="timedown_burst" name="burst_timedown" min="0" max="100000000" value="{{zagolovok[4]}}"></td>

    	  </tr>



   </center>




</head>
</html>
